//variables
@use 'variables.sass' as v

//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap')


*
    box-sizing: border-box
    padding: 0
    margin: 0

body
    background-color: v.$bgColor
    display: flex
    justify-content: center
    align-items: center
    height: 100vh

//mixins
@mixin gridDigit($gridAreaName)
    grid-area: $gridAreaName
    @extend .digitStyle

@mixin gridOperator($gridAreaName)
    grid-area: $gridAreaName
    @extend .operatorStyle
    

@mixin font($family, $style, $weight, $size, $color)
    font-family: v.$fontFamily
    font-weight: $weight
    font-style: $style
    font-size: $size
    color: $color
        

//the codes that will use more than many times 
.digitStyle
    color: v.$digitColor
    font: v.$digitFont
    background-color: v.$digitBgColor
    border-radius: v.$digitRadius
    border: none
    outline: none
    cursor: pointer
    &:focus
        border: none
        outline: none
    &:active
        border: none
        outline: none
        
.operatorStyle  
    color: v.$operatorColor
    background-color: v.$operatorBgColor
    border-radius: v.$digitRadius
    border: none
    outline: none
    cursor: pointer
    font-size: 32px



.container
    background: v.$calBgColor 
    backdrop-filter: blur(51px) 
    border-radius: 39px 
    padding: 35px 34px
    height: 95vh
    max-width: 375px
    width: 375px
    display: flex
    flex-direction: column
    justify-content: space-between



//buttons
.buttons
    display: grid !important
    grid-gap: 16px 20px
    grid-template:  repeat(5, 60px) / repeat(4, 20%)
    grid-template-areas: 'clear del div multi' 'seven eight nine min' 'four five six add' 'one two three equal' 'zero zero dot equal'


$buttonsDigit:  one two three four five six seven eight nine zero dot
$buttonsOperator: clear del div multi min add equal

@each $button in $buttonsDigit
  .#{$button}
      @include gridDigit($button)

@each $button in $buttonsOperator
    .#{$button}
        @include gridOperator($button)

.clear, .del 
    color: v.$eraserColor

#math
    @include font(v.$fontFamily, normal, 400, 24px, v.$mathColor)

#screen 
    padding: 35px 0
    text-align: right
    overflow: hidden

#result
    @include font(v.$fontFamily, normal, 500, v.$resultSize, v.$resultColor)    