$font-family: 'Poppins', sans-serif
$bgColor:  #DAF0FF
$calBgColor: #F7F8FB
$operationTextColor: rgba(129, 129, 129, 1)
$operationOperatorColor: rgba(16, 157, 255, 1)

$digitColor: #38B9FF
$digitFont: normal 500 32px 'Poppins'
$digitBgColor: #ffffff
$digitRadius: 16px

$operatorBgColor: #ADE2FF
$operatorColor: #109DFF

$result-color: #424242
$result-size: 48px 

$math-color: #818181